local-dev/n8n-workflows/contact-form-workflow.json
{
  "name": "Zaplit - Contact Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "contact"
    },
    {
      "parameters": {
        "jsCode": "// Log the incoming data for debugging\nconsole.log('New contact form submission:', JSON.stringify($input.first().json, null, 2));\n\n// Extract and structure the data\nconst submission = $input.first().json;\nconst { formType, data, metadata } = submission;\n\n// Return structured data for next nodes\nreturn {\n  json: {\n    formType,\n    contact: {\n      name: data.name,\n      email: data.email,\n      company: data.company || 'Not provided',\n      message: data.message\n    },\n    metadata,\n    submittedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "process-data",
      "name": "Process Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Message sent successfully\", \"id\": \"{{ Date.now().toString(36) }}\"}",
        "options": {
          "statusCode": 200
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 200]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
