local-dev/n8n-workflows/form-to-twenty-crm-workflow.json
{
  "name": "Zaplit - Form to Twenty CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submission",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "form-submission"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook\nconst webhookData = $input.first().json.body;\nconst formType = webhookData.formType;\nconst data = webhookData.data;\nconst metadata = webhookData.metadata;\n\n// Extract name parts\nconst nameParts = data.name ? data.name.split(' ') : ['', ''];\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// Extract domain from email\nconst email = data.email || '';\nconst domain = email.split('@')[1] || '';\n\n// Map team size to employee count\nconst teamSizeMap = {\n  '1-10': 10,\n  '11-50': 50,\n  '51-200': 200,\n  '201-500': 500,\n  '501-1000': 1000,\n  '1000+': 1000\n};\nconst employees = teamSizeMap[data.teamSize] || null;\n\n// Build note content\nlet noteBody = '';\nlet noteTitle = '';\n\nif (formType === 'consultation') {\n  noteTitle = `Consultation Request - ${data.company || 'Unknown Company'}`;\n  noteBody = `## Consultation Request\n\n**Name:** ${data.name}\n**Email:** ${data.email}\n**Company:** ${data.company}\n**Role:** ${data.role}\n**Team Size:** ${data.teamSize}\n\n### Technical Requirements\n**Tech Stack:** ${JSON.stringify(data.techStack || {})}\n**Security Level:** ${data.securityLevel}\n**Compliance:** ${JSON.stringify(data.compliance || [])}\n\n### Message\n${data.message || 'No message provided'}\n\n---\n**Submitted:** ${metadata?.submittedAt || new Date().toISOString()}\n**Source:** ${metadata?.source || 'website'}`;\n} else {\n  noteTitle = `Contact Form - ${data.subject || 'No Subject'}`;\n  noteBody = `## Contact Form Submission\n\n**From:** ${data.name} <${data.email}>\n**Subject:** ${data.subject}\n\n### Message\n${data.message}\n\n---\n**Submitted:** ${metadata?.submittedAt || new Date().toISOString()}\n**Source:** ${metadata?.source || 'website'}`;\n}\n\nreturn [{\n  json: {\n    formType,\n    firstName,\n    lastName,\n    email,\n    domain,\n    companyName: data.company || '',\n    jobTitle: data.role || '',\n    employees,\n    noteTitle,\n    noteBody,\n    originalData: data\n  }\n}];"
      },
      "id": "process-data-node",
      "name": "Process Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/rest/companies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"name\": \"{{ $json.companyName }}\",\n  \"domainName\": \"{{ $json.domain }}\"{{ $json.employees ? ', \"employees\": ' + $json.employees : '' }}\n}"
      },
      "id": "create-company-node",
      "name": "Create Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/rest/people",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"firstName\": \"{{ $json.firstName }}\",\n  \"lastName\": \"{{ $json.lastName }}\",\n  \"email\": \"{{ $json.email }}\"{{ $json.jobTitle ? ', \"jobTitle\": \"' + $json.jobTitle + '\"' : '' }}\n}"
      },
      "id": "create-person-node",
      "name": "Create Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/rest/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"title\": \"{{ $json.noteTitle }}\",\n  \"body\": {{ JSON.stringify($json.noteBody) }}\n}"
      },
      "id": "create-note-node",
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Form submitted and saved to CRM\", \"id\": \"{{ $execution.id }}\"}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Failed to process form submission\"}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-respond-node",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Create Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company": {
      "main": [
        [
          {
            "node": "Create Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Person": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
